<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		
		<!-- With Spring, the DataSource's properties will be overriden by datasource bean -->
		<!-- This configuration it's only usefull to Hibernate Tools Console -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/opfind</property>
		<!-- /This configuration it's only usefull to Hibernate Tools Console -->

		<!--<property name="hibernate.hbm2ddl.auto">create</property>-->
		<property name="hibernate.show_sql">true</property>
		
		<!-- <property name="hibernate.search.default.directory_provider">org.hibernate.search.store.RAMDirectoryProvider</property>--> 
		<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
		<property name="hibernate.search.default.indexBase">/Users/jkn/Documents/opfindworkspace/opfindindexes</property>
		
		<!--  CONFIGURACION DE EHCACHE   -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
 		<property name="hibernate.cache.use_structured_entries">true</property>
		
		<mapping class="es.opfind.domain.CivilJob"/>
		<mapping class="es.opfind.domain.Institution"/>
		<mapping class="es.opfind.domain.Newsletter"/>
		<mapping class="es.opfind.domain.OPNewsletter"/>
		
	</session-factory>
</hibernate-configuration>